.homepage{
    background-image: url(stat.jpg);
}

.header{
    margin-bottom: 10px;
    padding: 15px;
    height: 5vh;
    background-color: #d1cfe2;
    width: 97vw;
    display: flex;
    align-items: center;
}

.header img{
    height: 35px;
    width: 35px;
    border-radius: 60%;
}

.header a{
    text-decoration: none;
    align-content: flex-start;
    color: #f55c7a;
}

.body{
    text-align: center;
    align-items: center;    
    margin-bottom: 50px;
    height: 68vh;
    width: 97vw;
}
.body a{
    text-decoration: none;
    color: black;
}

.footer{
    width: 97vw;
    height: 8vh;
    padding: 15px;
    background-color: #d1cfe2;
}

.intro{
    background-image: url(stat.jpg);
}

.main{
    padding: 15px;
    max-width: 70%;
    margin-bottom: 50px;
    height: 66vh;
    width: 97vw;
}

.conclusion{
    background-image: url(stat.jpg);
}

.content{
    padding: 15px;
    max-width: 70%;
    margin-bottom: 50px;
    height: 80vh;
    width: 97vw;
}

.all{
    background-image: url(stat.jpg); 
}

.graph{
    padding: 15px;
    margin-bottom: 50px;
    width: 97vw;
}


.studygraph p{
    max-width: 70%;
    
}

.studygraph img{
    height: 300px;
    width: 350px;
    text-align: center;
}

.studygraph2 h2 i{
    display: flex;
    align-content: flex-start;
}

.studygraph2 img{
    display: flex;
    align-content: flex-start;
}